# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.vscode/
.idea/
.DS_Store

# Virtual environments
venv/
.env/

# Logs
*.log

# Vector db

rag_chroma_db/
rag_chroma_db_v2/

data/
data/*
!data/persistent_chat_history.json

files/

merge_project.py
project_snapshot.md
