langchain>=0.1.17
wikipedia
langchain-community
langchain-openai
langchain-anthropic
langchain-chroma>=0.2.5,<0.3.0
langchain-unstructured
python-dotenv
pydantic
duckduckgo-search
tavily-python
atlassian-python-api
gradio
pytest
chromadb>=1.0.15,<2.0.0
unstructured
jinja2
langgraph>=0.0.24
importlib
logging
apscheduler
