langchain>=0.2.9,<1.0
wikipedia
langchain-community
langchain-openai
langchain-anthropic
langchain-chroma
python-dotenv
pydantic
duckduckgo-search
tavily-python
atlassian-python-api>=4.0.4
gradio
pytest